@model MedEd.Models.MedicinskiProizvod

@{
    ViewData["Title"] = "Ažuriraj";
    Layout = "_LoginLayout";
}
<hr />
<div class="container container-fluid">
    <div class="wrapper">
        <h1>Ažuriraj</h1>
        <h4>Ažurirajte podatke za @Model.NazivMedProizvod</h4>
        <hr />
        <form asp-route-page="@ViewBag.Page"
              method="post">
            <div class="row">
                <div class="col-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="SifraMedProizvod" />
                    <div class="form-group">
                        <label asp-for="NazivMedProizvod" class="control-label"></label>
                        <input asp-for="NazivMedProizvod" class="form-control" />
                        <span asp-validation-for="NazivMedProizvod" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="KataloskiBroj" class="control-label"></label>
                        <input asp-for="KataloskiBroj" class="form-control" />
                        <span asp-validation-for="KataloskiBroj" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Namjena" class="control-label"></label>
                        <input asp-for="Namjena" class="form-control" />
                        <span asp-validation-for="Namjena" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SifProizvodjac" class="control-label"></label>
                        <select asp-for="SifProizvodjac" class="form-control" asp-items="ViewBag.SifProizvodjac"></select>
                        <span asp-validation-for="SifProizvodjac" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SifKlasa" class="control-label"></label>
                        <select asp-for="SifKlasa" class="form-control" asp-items="ViewBag.SifKlasa"></select>
                        <span asp-validation-for="SifKlasa" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Spremi promjene" class="btn btn-primary" />
                        <a asp-action="Search"
                           asp-route-page="@ViewBag.Page"
                           asp-route-nazivLjekarna="@ViewBag.KataloskiBr"
                           asp-route-naziv="@ViewBag.Naziv"
                           asp-route-namjena="@ViewBag.Namjena"
                           asp-route-pro="@ViewBag.Pro"
                           asp-route-klasa="@ViewBag.Klasa"
                           class="btn btn-secondary">Odustani</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<hr />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

