@model MedEd.ViewModels.MedProAdminViewModel

@{
    ViewData["Title"] = "Popis medicinskih proizvoda";
    Layout = "_LoginLayout";
}

<div class="container container-fluid">
    <div class="wrapper">
        <h2>Rezultati pretrage</h2>
        <hr />
        <div class="form-group">
            <a class="btn btn-link" asp-area="" asp-action="Index"><i class="fa fa-arrow-left"></i> Natrag na popis</a>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" onclick="searchProFunc()"><i class="fa fa-search"></i> Pretraži listu</button>
            <a class="btn btn-danger" asp-area="" asp-action="Index"><i class="fa fa-window-close"></i> Ukloni kriterije</a>
        </div>
        <script>
            function searchProFunc() {
                $('#searchMedDiv').fadeIn();
            }
        </script>
        <div style="display:none" id="searchMedDiv">
            <hr />
            <form asp-controller="MedicinskiProizvod" asp-action="Search" method="get">
                <div class="row">
                    <div class="col-2">
                        <input type="text" name="naziv" class="form-control" id="nazivMed">
                    </div>
                    <div class="col-2">
                        <input type="text" name="katBr" id="katBr" class="form-control">
                    </div>
                    <div class="col-2">
                        <input type="text" name="namjena" class="form-control" id="namjena">
                    </div>
                    <div class="col-2">
                        <select class="form-control" id="klasaRizik" name="klasa">
                            <option value="Sve klase">Sve klase</option>
                            <option value="I">I</option>
                            <option value="II">II</option>
                            <option value="IIa">IIa</option>
                            <option value="III">III</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <select class="form-control" id="proizvodjac" name="pro">
                            <option value="Svi proizvođači">Svi proizvođači</option>
                            <option value="A&D Company, Ltd., Japan">A&D Company, Ltd., Japan</option>
                            <option value="Artsana S.p.A., Italija">Artsana S.p.A., Italija</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        <button type="button" class="btn btn-danger" onclick="odustaniSearchProFunc()"><i class="fa fa-window-close"></i></button>
                        <script>
                            function odustaniSearchProFunc() {
                                $('#searchMedDiv').fadeOut();
                            }
                        </script>
                    </div>
                </div>
            </form>
        </div>
        <p></p>
        <div id="editMedProDiv" style="display:none"></div>
        <p></p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Naziv
                    </th>
                    <th>
                        Kataloški broj
                    </th>
                    <th>
                        Namjena
                    </th>
                    <th>
                        Klasa rizika
                    </th>
                    <th>
                        Proizvođač
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var proizvod in Model.Proizvodi)
                {
                    using (Html.BeginForm("Delete", "MedicinskiProizvod", new { id = proizvod.SifraMedProizvod, page = Model.PagingInfo.CurrentPage }))
                    {
                        var deleteForm = "deleteForm" + proizvod.SifraMedProizvod;
                        var id = proizvod.SifraMedProizvod;
                <tr>
                    <td class="text-left" style="width:17%">
                        <a asp-action="DetailsSearch" asp-route-id="@proizvod.SifraMedProizvod"
                           asp-route-page="@Model.PagingInfo.CurrentPage"
                           asp-route-katBr="@Model.KatBr"
                           asp-route-naziv="@Model.Naziv"
                           asp-route-namjena="@Model.Namjena"
                           asp-route-pro="@Model.Pro"
                           asp-route-klasa="@Model.Klasa">@proizvod.NazivMedProizvod</a>
                    </td>
                    <td class="text-left" style="width:17%">
                        @proizvod.KataloskiBroj
                    </td>
                    <td class="text-left" style="width:17%">
                        @proizvod.Namjena
                    </td>
                    <td class="text-left" style="width:17%">
                        @proizvod.Klasa
                    </td>
                    <td class="text-left" style="width:17%">
                        @proizvod.Proizvodjac
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm"
                                onclick="var url = '@Url.Action("Edit", "MedicinskiProizvod", new { id = id, page = Model.PagingInfo.CurrentPage })';$('#editMedProDiv').fadeIn();
                                            $('#editMedProDiv').load(url);">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm delete"
                                data-target="#@deleteForm" data-toggle="modal">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
                        <tr>
                            <div class="modal fade" id="@deleteForm" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content" role="document">
                                        <div class="modal-header">
                                            <h3 class="modal-title">Želite li stvarno orbisati medicinski proizvod @proizvod.NazivMedProizvod?</h3>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" value="U redu" class="btn btn-danger" />
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <br />
        <div hidden="@(@Model.PagingInfo.TotalPages == 1)" class="float-left">
            <ul class="pagination">
                <li class="page-item" hidden="@(@Model.PagingInfo.CurrentPage == 1 || @Model.PagingInfo.CurrentPage == 2)">
                    <a class="page-link" asp-action="Search" asp-route-page="1"
                       asp-route-katBr="@Model.KatBr"
                       asp-route-naziv="@Model.Naziv"
                       asp-route-namjena="@Model.Namjena"
                       asp-route-pro="@Model.Pro"
                       asp-route-klasa="@Model.Klasa">Prva</a>
                </li>
                <li class="page-item" hidden="@(@Model.PagingInfo.CurrentPage == 1)">
                    <a class="page-link" asp-action="Search" asp-route-page="@(@Model.PagingInfo.CurrentPage - 1)"
                       asp-route-kataloskiBr="@Model.KatBr"
                       asp-route-katBr="@Model.KatBr"
                       asp-route-naziv="@Model.Naziv"
                       asp-route-namjena="@Model.Namjena"
                       asp-route-pro="@Model.Pro"
                       asp-route-klasa="@Model.Klasa">@(@Model.PagingInfo.CurrentPage - 1)</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link">
                        @Model.PagingInfo.CurrentPage
                    </a>
                </li>
                <li class="page-item" hidden="@(@Model.PagingInfo.CurrentPage == @Model.PagingInfo.TotalPages)">
                    <a class="page-link" asp-action="Search" asp-route-page="@(@Model.PagingInfo.CurrentPage + 1)"
                       asp-route-kataloskiBr="@Model.KatBr"
                       asp-route-katBr="@Model.KatBr"
                       asp-route-naziv="@Model.Naziv"
                       asp-route-namjena="@Model.Namjena"
                       asp-route-pro="@Model.Pro"
                       asp-route-klasa="@Model.Klasa">@(@Model.PagingInfo.CurrentPage + 1)</a>
                </li>
                <li class="page-item" hidden="@(Model.PagingInfo.CurrentPage == @Model.PagingInfo.TotalPages || @Model.PagingInfo.CurrentPage == @Model.PagingInfo.TotalPages - 1)">
                    <a class="page-link" asp-action="Search" asp-route-page="@Model.PagingInfo.TotalPages"
                       asp-route-kataloskiBr="@Model.KatBr"
                       asp-route-katBr="@Model.KatBr"
                       asp-route-naziv="@Model.Naziv"
                       asp-route-namjena="@Model.Namjena"
                       asp-route-pro="@Model.Pro"
                       asp-route-klasa="@Model.Klasa">Zadnja</a>
                </li>
            </ul>
        </div>
        <br />
    </div>
</div>


