@model MedEd.Models.Ljekarna

@{
    ViewData["Title"] = "Detalji o ljekarni";
    if (ViewBag.Ulogiran == "true")
    {
        Layout = "_LoginLayout";
    }
    else
    {
        Layout = "_Layout";
    }
}

<div class="container container-fluid">
    <div class="wrapper">
        <a asp-action="Prices" asp-route-id="@ViewBag.Med"
           asp-route-page="@ViewBag.Page" class="btn btn-link"><i class="fa fa-arrow-left"></i> Natrag</a>
        <p></p>
        <div class="card border-primary mb-3">
            <div class="card-body">
                <h4 class="card-title text-primary">@Model.NazivLjekarna</h4>
                <dl class="row">
                    <dt class="col-sm-4">
                        Adresa:
                    </dt>
                    <dd class="col-sm-8">
                        @Model.AdresaLjekarna, @Model.SifMjestoNavigation.NazivMjesto, @Model.SifMjestoNavigation.PostanskiBroj
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">
                        Kontakt:
                    </dt>
                    <dd class="col-sm-8">
                        @Model.KontaktBroj
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">
                        E-mail:
                    </dt>
                    @if (string.IsNullOrEmpty(Model.EmailLjekarna))
                    {
                        <dd class="col-sm-8">
                            <text class="text-danger">Ljekarna nema službeni e-mail!</text>
                        </dd>
                    }
                    else
                    {
                        <dd class="col-sm-8">
                            @Model.EmailLjekarna
                        </dd>
                    }
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">
                        Radno vrijeme:
                    </dt>
                    <dd class="col-sm-8">
                        @Model.RadnoVrijeme
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">
                        Vrsta ljekarne:
                    </dt>
                    <dd class="col-sm-8">
                        @Model.SifVrstaLjekarnaNavigation.OpisVrstaLjekarna
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

